appnope==0.1.2
arrow==0.17.0
astroid==2.8.0
autopep8==1.5.5
backcall==0.2.0
beautifulsoup4==4.10.0
boto3==1.20.26
botocore==1.23.26
certifi==2022.12.7
chardet==3.0.4
decorator==5.0.9
deprecation==2.1.0
eyeD3==0.9.5
filetype==1.0.7
flake8==3.8.4
idna==2.10
ipython==7.26.0
ipython-genutils==0.2.0
isort==5.9.3
jedi==0.17.2
jmespath==0.10.0
lazy-object-proxy==1.6.0
matplotlib-inline==0.1.2
mccabe==0.6.1
mercurial==5.9.2
mutagen==1.45.1
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.3.0
pluggy==1.0.0
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
pycodestyle==2.6.0
pydocstyle==6.1.1
pyflakes==2.2.0
Pygments==2.9.0
pylint==2.11.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.2
requests==2.24.0
rope==0.20.1
s3transfer==0.5.0
six==1.15.0
slack-webhook==1.0.3
snowballstemmer==2.1.0
soupsieve==2.3.1
toml==0.10.2
traitlets==5.0.5
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.25.10
wcwidth==0.2.5
wrapt==1.12.1
yapf==0.31.0
youtube-dl==2021.6.6
ytmusicapi==0.10.1
